#judul{
    display: flex;
}

h1{
    margin: 0 10px;
}

/* .active{
    color: #F04B5C;
    margin-left: 10px;
} */

.maroon{
    color: #F04B5C;
}

#content{
    display: flex;
    margin: 3% 0;
}

#pic{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    /* align-items: center; */
}

#pic img{
    
    margin: 5% 0;
}

#pic h1{
    text-align: center;
}

#info{
    margin: 30px;
}

#info h1{
    margin-bottom: 27%;
}



#chat{
    background-color: #191824;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 70%;
    margin-bottom: 5%;
    border-radius: 10px;
    margin: 15% auto;
}

#chat img{
    margin: 10px ;
    width: 10%;
}

#containerDetail{
    display: flex;
    width: 100%;
    border: solid black 2px; 
    border-radius: 10px;
    padding: 2%;
}


.detail{
    width: 50%;
}

.line{
    display: flex;
}