*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

nav{
    background-color: #191824;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.navpic{
    height: 50px;
}

#navigation{
    width: 30%;
}

#navigationpic{
    width: 15%;
}

ul{
    list-style: none;
    display: flex;
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul a{
    color: #FFFFFF;
    text-decoration: none;
}

ul a:hover{
    color: #F04B5C;
}

nav a{
    margin: 0px 5%;
}

nav a img{
    height: 9vh;
}

#body{
    min-height: 66.4vh;
    display: flex;
    justify-content: center;
}

.container{
    padding-top: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1600px;
}

footer{ 
    background-color: #F04B5C;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins';
    padding: 30px 10px;
}

footer h2{
    font-weight: bold;
}

footer img{
    margin: 10px;
}