*{
    margin: 0;
    padding: 0;;
}

nav{
    background-color: #191824;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 90%;
    padding: 5%;
}

div{
    height: 80vh;
}

footer{
    height: 10vh;   
    background-color: #F04B5C;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}