.maincontain {
    width: 700px;
    height: auto;
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }

.pfpbox {
  margin-left: 20px;
  width: 40%;
  display: flexbox;
  height: 250px;
}
.pfp {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  justify-content: center;
}

.name {
  width: 100%;
  height: 20%;
  padding-top: 8px;
  color: #F04B5C;
  font-size: xx-large;
  text-align: center;
  justify-content: center;
}
.profile {
  flex: 0 0 auto;
  width: 65%;
  height: 65%;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  border: #F04B5C solid 3px;
  padding: 5px;
  margin-top: 35px;
}
.biodata {
  width: 700px;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  border: #F04B5C solid 3px;
  padding: 10px;
  margin-top: 35px;
  margin-bottom: 20px;
}

.pfp img
{
    max-width: 100%;
    max-height: 100%;
}

.pfp:hover
{
    background-color: gainsboro;
    opacity: 60;
}
.left {
  flex: 0 0 auto;
  width: 30%;
  height: 100%;
  display: block;
  font-size: larger;
  margin-top: 5px;
  color: #F04B5C;
  padding-left: 4px;
}
.middle {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: block;
  font-size: larger;
  margin-top: 5px;
}
.right {
  flex: 0 0 auto;
  width: 20%;
  height: 100%;
  display: block;
  align-items: flex-start;
  font-size: larger;
  margin-top: 5px;
  color: #F04B5C;
}

.button {
  width: 550px;
  height: 75px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.logout {
  flex: 0 0 auto;
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  border: #F04B5C solid 2px;
  color: #F04B5C;
  border-radius: 10px;
  margin-right: 5px;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
  font-size: x-large;
}
.saveprofile {
  flex: 0 0 auto;
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 10px;
  margin-left: 5px;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
  font-size: x-large;
}

.logout:hover
{
  background-color: gainsboro;
}

.saveprofile:hover
{
  background-color: gray;
}